<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularApp</title>
  <base href="/components-examples/angular/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/components-examples/menu.css">
  <script src="https://js.chargebee.com/v2/chargebee.js"></script>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,500,600">
</head>
<body>
  <app-root></app-root>
</body>
<script src="/components-examples/menu-loader.js"></script>
</html>
