<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico" /> -->
    <link rel="stylesheet" href="/components-examples/menu.css" />
    <title>Chargebee Components Examples | Vue Wrappers</title>
    <script src="https://js.chargebee.com/v2/chargebee.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300,500,600"
    />
  </head>

  <body>
    <noscript>
      <strong
        >We're sorry but cb-components-examples doesn't work properly without
        JavaScript enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
  <script src="/components-examples/menu-loader.js"></script>
</html>
